/* Empty. Add your own CSS if you like */
.item-select select {
  left: 0;
}
.makeRed .item-content{
	background-color: red !important;
}
.makeYellow .item-content{
	background-color: yellow !important;
}
.makeGreen .item-content{
	background-color: green !important;
}
.bar.bar-light{
  background-color: rgba(220,220,220,.75) !important; /* or transparent, or background:none */
}
.tabs-custom > .tabs,
.tabs.tabs-custom {
  background-color: rgba(220,220,220,.75) !important; /* or transparent, or background:none */

}
.scroll-content {
  overflow: visible !important;
}